h1 
  |RGB Color Slider
.box
  #slider-red
    .ui-slider-handle
      .letter
        |R
    #amount-red
      | 0
  #slider-green
    .ui-slider-handle
      .letter
        |G
    #amount-green
      | 0
  #slider-blue
    .ui-slider-handle
     .letter
        |B
    #amount-blue
      | 0
  